$primary: #046931;
/* $theme-colors: (
        "primary": $primary
); */

/*
.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.is-invalid {
  border-width: 3px !important;
}
 */

div.dropdown-list {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 0 1em 0 1em;
  z-index:10001;
}

div.dropdown-wrapper {
  position: relative;
}

input.dropdown-input {
  width: 100%;
}

div.dropdown-list ul {
  padding: 0;
}

div.dropdown-list li {
  display: block;
  border-width: 0 0 1px 0;
  border-color: gray;
  border-style: solid;
}

div.dropdown-list.dropdown-focused {
  display: block;
}

/*
div.card div.card-invalid-feedback, div.accordion-item div.card-invalid-feedback {
  display: none;
}

div.card.is-invalid div.card-invalid-feedback, div.accordion-item.is-invalid div.card-invalid-feedback{
  display: block;
  color: red;
  font-weight: bolder;
}
 */

div.icon-show-collapsed {
  display: none;
  vertical-align: bottom;
  text-decoration: none !important;
  border: none !important;
}

.collapsed div.icon-show-collapsed {
  display: inline-block;
}

div.icon-hide-collapsed {
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none !important;
  border: none !important;
}

span.italictaxon {
  font-style: italic;
  display: inline-block;
}

span.taxon-qualifier {
  font-style: normal;
  font-weight: bolder;
}

span.taxauthority {
  font-weight: lighter;
  font-style: normal;
}

q.taxon-vernacular {
  font-weight: bold;
  display: inline-block;
}

@import "../node_modules/bootstrap/scss/bootstrap";

